<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Contact information</h1>
    <p class="lead">This is our contact information of our managers</p>
  </div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Information</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>In this web page you can:</li>
          <li>Store your contacts</li>
          <li>Edit them, delete</li>
          <li>Everything is for free, you just need to register</li>
        </ul>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Contacts</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Evaldas</li>
          <li>Zalnierius</li>
          <li>E.zalnierius@gmail.com</li>
          <li>8633333333</li>
        </ul>
      </div>
    </div>
    </div>
    </div>
    </div>
  </div>