  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://mdbootstrap.com/img/new/slides/041.jpg');
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Contact book</h1>
          <h4 class="mb-3">You can store all your contants in your website</h4>
        </div>
      </div>
    </div>
  </div>
  <br>
<div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-left">
          <%=image_tag("one-more.jpg", width: "140px") %>
        </div>

        <h2>Be Human, Not a Robot</h2>
        <p>It’s essential for customers to know that they are speaking to a real person, and that their problems are understood and can be resolved.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="text-left">
          <%=image_tag("joey-degrandis-hsam-memory.jpg", width: "140px") %>
        </div>

        <h2>Use Positive Wording</h2>
        <p>Phrases you use in your text play a significant role. It is known that certain words highlight your empathy and make the text more trustworthy.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="text-left">
          <%=image_tag("Ryan-Kirk-Surexdirect.jpg", width: "140px") %>
        </div>

        <h2>Respond Quickly</h2>
        <p>No one wants to wait for customer responses for too long. That’s why the faster you can answer such email, the better. Research by Super Office shows that an average time usually takes up to 12 hours to satisfy customer service request, while most users expect a response in one hour or less.</p>
      </div>
    </div>
  </div>